<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<table>
  <thead>
    <tr>
      <th>Flight number</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Start time</th>
      <th>Duration</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.flight_number %></td>
        <td><%= flight.origin.code %></td>
        <td><%= flight.destination.code %></td>
        <td><%= flight.formatted_date %></td>
        <td><%= flight.duration %> hrs</td>
        <td><%= number_to_currency(flight.price) %></td>
        <td><%= link_to 'Book this Flight', new_flight_booking_path(flight) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flight', new_flight_path %>
