<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Flight</th>
      <th>First name</th>
      <th>Last name</th>
      <th>From</th>
      <th>To</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr<% if booking.canceled %> class="canceled"<% end %>>
        <td><span class="status-circle"></span></td>
        <td>Flight Number: <%= booking.flight.flight_number %></td>
        <td>First Name: <%= booking.first_name %></td>
        <td>Last Name: <%= booking.last_name %></td>
        <td>From: <%= booking.flight.origin.city %> (<%= booking.flight.origin.code %>)</td>
        <td>To: <%= booking.flight.destination.city %> (<%= booking.flight.destination.code %>)</td>
        <td><%= link_to 'Show', flight_booking_path(booking.flight, booking) %></td>
        <td><% if !booking.canceled %><%= link_to 'Cancel', flight_booking_path(booking.flight, booking), :method=> :patch %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Book a Flight", flights_path %>
